@font-face {
    font-family: 'FuturaMdBTMedium';
    src: url('tt0142m_0.eot');
    src: url('tt0142m_0.eot') format('embedded-opentype'),
         url('tt0142m_0.woff') format('woff'),
         url('tt0142m_0.ttf') format('truetype'),
         url('tt0142m_0.svg#FuturaMdBTMedium') format('svg');
}
